<div class="connectdialogcontainer">
	<div class="connectdialog" qv-global-escape="onEscape()">
  	   <div class="header">
  		<h1 q-translation="{{titleText}}"></h1>
		
		<h2>Connector Description</h2>
		<div>{{info}}</div>

		<div class="main">
			<input type="text" ng-model="name" placeholder="Connection name" />
			<input type="text" ng-model="connectionString" placeholder="Connection string" />
			<input type="text" ng-model="username" placeholder="Username" />
			<input type="password" ng-model="password" placeholder="Password" />
		</div>

		<div class="connectionInfo" ng-class="{'success': connectionSuccessful}">{{connectionInfo}}</div>
 	</div>
	<div class="footer">
			<button ng-click="onCancelClicked()">Cancel</button>
			<button ng-click="onTestConnectionClicked()">Test Connection</button>
			<button ng-click="onOKClicked()" ng-disabled="!isOkEnabled()" q-translation="{{saveButtonText}}"></button>
	</div>
  </div>
</div>
